*{box-sizing: border-box;padding: 0;margin: 0;}

body {
    display: grid;
    place-items: center;
    background: rgb(117, 114, 114);
}

.tableGame {
    margin: 5rem 0 0;
    display: flex;
    flex-direction: column;
    border: 1.5px solid #000;
}
.row {
    display: flex;
    list-style: none;
}
.row__cell {
    display: grid;
    place-items: center;
    width: 5rem;
    height: 5rem;
    border: 2px solid #000;
}

.indexCard {
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.indexCard--black {
    background-color: #000;
    border: 5px solid #fff;
}
.indexCard--white {
    background-color: #fff;
    border: 5px solid #000;
}